@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Syne:wght@400..800&display=swap');



/* 2. Custom Mango Grotesque Font-Face */
@font-face {
  font-family: 'Mango Grotesque';
  src: url('/fonts/MangoGrotesque-SemiBold-BF6a47cba8b4c2a.ttf') format('truetype');
  font-weight: 600 700 800;
  font-display: swap;
}

@font-face {
  font-family: 'Mango Grotesque';
  src: url('/fonts/MangoGrotesque-Regular-BF6a47cba903375.ttf') format('truetype');
  font-weight: 400 500;
  font-display: swap;
}



@theme {
  /* Custom fonts */
  --font-display: 'Mango Grotesque', 'Syne', sans-serif;
  --font-sans: 'Syne', sans-serif;
  --font-mono: 'Space Mono', monospace;


  /* Custom Colors*/
  --color-noir: #070709;
  --color-card-surface: #0e0f14;
  --color-kage-orange: #ff6a00;
  --color-kage-cyan: #00f0ff;
  --color-muted-slate: #94a3b8;
  --color-mono-zinc:#71717a;

  /* Glass Border Strokes*/
  --color-glass-border: rgba(255, 255, 255, 0.1);
  --color-glass-border-hover: rgba(255, 255, 255, 0.25);
}


@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
    background-color: var(--color-noir);
    color: #ffffff;
    font-family: var(--font-sans);
  }

  /* Custom text selection highlight */
  ::selection{
    background-color: rgba(255, 106, 0, 0.3);
    color: #ffffff;
   }

   /* Slim High-tech scrollbar*/
   ::-webkit-scrollbar {
    width: 6px;
   }

   ::-webkit-scrollbar-track{
    background: #070709;
   }

   ::-webkit-scrollbar-thumb{
    background: #181a24;
    border-radius: 3px;
    border: 1px solid rgba(255,255,255,0.05);
   }

   ::-webkit-scrollbar-thumb:hover{
    background: #ff6a00;
   }
  
}